@import url('https://fonts.googleapis.com/css?family=Asap:400,700');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header {
    background: white;
    text-align: center;
}

header > h1 {
    background-color: #292C34;
    padding: 20px;
    font-family: Asap, sans-serif;
}

body {
    background-color: #292C34;
}
.batch-image {
    width: 70px;
    height: 70px;
}

.score-board {
    position: relative;
    border: 3px solid white;
    width: 200px;
    margin: 20px auto;
    font-size: 50px;
    border-radius: 6px;
    text-align: center;
    padding: 15px 20px;
    font-family: Asap, sans-serif;
}

.badge {
    background: #E2584D;
    color: white;
    font-size: 14px;
    padding: 2px 10px;
    font-family: Asap, sans-serif;
}

#user-label {
    position: absolute;
    top: 30px;
    left: -25px;
}

#comp-label {
    position: absolute;
    top: 30px;
    right: -25px;
}

.result {
    font-size: 40px;
    font-color: white;
}

.result > p {
    text-align: center;
    font-weight: bold;
    font-family: Asap, sans-serif;
}

.choices {
    margin-top: 20px;
    text-align: center;
}

.choice {
    display: inline-block; 
    border: 4px solid white;
    border-radius: 70%;
    padding: 10px;
    margin: 0 20px;
    transition: all 0.4s;
}

.choice:hover {
    cursor: pointer;
    background-color: navy;
}

#action-message { 
    margin-top: 15px;
    text-align: center;
    color: white;
    font-family: Asap, sans-serif;
    font-weight: bold;
    font-size: 20px;
}

.green-glow {
    border: 4px solid #4dcc7d;
    box-shadow: 0 0 10px #31b43a;
}

.red-glow {
    border: 4px solid red;
    box-shadow: 0 0 10px #d01115;
}

.gray-glow {
    border: 4px solid gray;
    box-shadow: 0 0 10px #25292b;
}